<div class="discover-business w-full p-4">
  <div class="flex items-center mb-5">
    <h2 class="text-4xl font-bold text-gray-800 flex-grow">Discover Business</h2>
    
    <fa-icon 
      [icon]="faArrowRight" 
      class="text-black-400 text-4xl cursor-pointer hover-arrow" 
      style="margin-left: 20px;"
      (click)="goToNextPage()">
    </fa-icon>
  </div>

  <div class="business-list flex flex-col gap-4">
    <div *ngFor="let business of businesses" class="business-card flex items-center justify-between bg-white p-4 rounded-lg shadow-md">
      <app-profile-info 
        [name]="truncate(business.name, 16)" 
        [username]="truncate(business.username, 16)" 
        [imageUrl]="getImageUrl(business.profilePicture)">
      </app-profile-info>

      <button class="ripple follow-btn bg-primarycolor-0 text-white px-4 py-2 rounded-md hover:bg-opacity-80 transition-all" 
              (click)="toggleFollow(business)">
        {{ business.isFollowing ? 'Following' : 'Follow' }}
      </button>
    </div>
  </div>
</div>
