<div class="flex justify-center w-full p-0">
  <div class="border border-white bg-white w-full shadow-lg mt-1 mb-1">
      <div class="flex items-center justify-between p-2">
          <img src="{{couponDetails.profileImageUrl}}" alt="Profile" class="w-12 h-12 rounded-full mt-2 ml-1">
          <div class="flex-grow ml-2 text-left">
              <div class="font-bold text-lg mt-2 text-black">{{couponDetails.username}}</div>
              <div class="text-sm text-gray-500">
                  <ng-container *ngIf="isExpired; else notExpired">
                      Expired
                  </ng-container>
                  <ng-template #notExpired>
                      Expires in {{ remainingDays }} days
                  </ng-template>
              </div>
          </div>
          <button
              class="bg-primary text-white font-medium font-system-ui border-none px-3 py-1 rounded mt-2 mr-1 cursor-pointer">
              FOLLOW
          </button>
      </div>

      <!-- Conditionally render the offer image -->
      <img *ngIf="couponDetails.imageUrl" [src]="couponDetails.imageUrl" alt="Product" class="w-full mt-2 object-cover h-96">

      <div class="m-4 text-2xl font-semibold text-gray-900 text-center">
          {{couponDetails.description}}
      </div>

      <div class="coupon flex items-center justify-between p-1.5 border border-primary rounded-full bg-white mt-2 mb-5 mx-1 gap-1">
          <input type="text" [value]="couponDetails.couponCode" readonly class="border-none font-poppins font-semibold text-lg text-gray-900 flex-grow outline-none text-center">
          <button (click)="copyToClipboard(couponDetails.couponCode)" class="bg-primary border-none rounded-full text-white font-poppins font-semibold text-xl px-4 py-4 cursor-pointer">
              {{ copyButtonText }}
          </button>
      </div>

      <div class="flex justify-between items-center m-4">
          <!-- Left side icons -->
          <div class="flex items-center space-x-4">
              <button (click)="likePost()"
                  class="flex items-center cursor-pointer transition-transform duration-500 ease-in-out"
                  [ngClass]="{'scale-125': showLikeAnimation}" aria-label="Like Post">
                  <fa-icon [icon]="faThumbsUp" class="fa-xl text-[#ff6251]"></fa-icon>
                  <span class="text-black ml-1">{{ couponDetails.likes }}</span>
              </button>

              <button (click)="dislikePost()"
                  class="flex items-center cursor-pointer transition-transform duration-500 ease-in-out"
                  [ngClass]="{'scale-125': showDislikeAnimation}" aria-label="Dislike Post">
                  <fa-icon [icon]="faThumbsDown" class="fa-xl text-[#ff6251]"></fa-icon>
                  <span class="text-black ml-1">{{ couponDetails.dislikes }}</span>
              </button>
          </div>

          <!-- Right side icons -->
          <div class="flex items-center space-x-4 ">
              <button class="bg-none border-none flex items-center cursor-pointer">
                  <fa-icon [icon]="faLocationArrow" class="fa-xl" [ngStyle]="{'color': '#ffb43f'}"></fa-icon>
              </button>

              <!-- Save Button -->
              <div class="relative">
                  <!-- Display Saved Message -->
                  <span *ngIf="showSavedMessage"
                      class="absolute bottom-full left-1/2 transform -translate-x-1/2 text-black font-bold transition-opacity duration-500">
                      Saved!
                  </span>

                  <!-- Save Button -->
                  <button (click)="savePost()" class="bg-transparent border-none flex items-center cursor-pointer">
                      <fa-icon [icon]="faBookmark" class="fa-xl transition-transform duration-300"
                          [ngStyle]="{'color': '#ffb43f', 'transform': isSaved ? 'scale(1.2)' : 'scale(1)'}">
                      </fa-icon>
                  </button>
              </div>

              <div class="flex items-center space-x-4 relative">
                  <button class="bg-none border-none flex items-center cursor-pointer" (click)="toggleReportButton()">
                      <fa-icon [icon]="faEllipsisVertical" class="fa-xl text-black"></fa-icon>
                  </button>

                  <!-- Report Button -->
                  <div *ngIf="showReportButton"
                      class="absolute bottom-10 right-0 bg-white border border-gray-300 rounded shadow-lg p-2 z-10">
                      <button (click)="reportPost()" class="text-black font-bold py-2 px-2 rounded">Report</button>
                  </div>

                  <!-- Success Message Dialog -->
                  <div *ngIf="showReportSuccess" class="fixed inset-0 z-20 flex items-center ">
                      <div class="fixed inset-0 bg-black opacity-50 z-10"></div>
                      <div class="relative z-20 bg-white rounded-lg shadow-lg w-full max-w-xs ml-2 mr-1 text-center p-3">
                          <p class="text-primary text-xl font-bold mb-3">Post reported successfully!</p>
                          <div class="flex justify-center">
                              <button (click)="hideReportSuccess()" class="bg-primary text-white rounded-md px-4 py-2 font-semibold">
                                  Done
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <button
          class="w-full px-2 py-1 text-lg font-bold bg-primary text-white border-none rounded-b-[4px] cursor-pointer text-center">
          Show Details →
      </button>
  </div>
</div>