<span class="flex justify-center font-primary text-primary-0 text-3xl mt-5">
  Verification Code
</span>
<div class="bg-white">
  <div class="flex justify-center">
    <div class="logo mt-5 w-60 h-auto">
      <img class="object-fill" src="assets/image 9.png" />
    </div>
  </div>

  <span class="flex justify-center font-roboto text-black mt-3 text-center">
    We have sent the verification code to your registered Mobile number
  </span>

  <span class="flex justify-center font-roboto text-black mt-3 text-center">
    {{ timer }} seconds remaining
  </span>

  <form [formGroup]="otpForm" class="flex flex-col items-center" (ngSubmit)="onSubmit()">
    <input
      id="phonenumber-input"
      class="form-control input input-primary max-w-326 text-center mt-5"
      placeholder="Enter OTP"
      formControlName="otpdigit"
      minlength="6"
      maxlength="6"
    />

    <!-- Validation message -->
    <div class="flex justify-center mt-2">
      <span class="text-red-500" *ngIf="otpForm.controls['otpdigit'].invalid && otpFormSubmitted">
        Enter a correct OTP (6 digits)
      </span>
    </div>

    <div class="buttons flex justify-center mt-5">
      <button
        type="submit"
        class="btn btn-primary btn-md font-roboto w-80"
        [disabled]="otpForm.invalid"
      >
        SUBMIT
      </button>
    </div>
  </form>

  <div class="flex justify-center mt-8">
    <p class="text-gray-500 font-roboto">
      Didn't receive the code?
      <a href="#" class="text-black font-bold" [class.opacity-50]="disableResend" (click)="resendOTP($event)">Resend OTP</a>
    </p>
  </div>
</div>
