
<span class="flex justify-center font-primary text-primary-0 text-3xl mt-5"
    >Verification Code</span>
    <div class="bg-white">
    <div class="flex justify-center">
      <div class="logo mt-5 w-60 h-auto">
        <img class="object-fill" src="assets/image 9.png" />
      </div>
    </div>
      <span class="flex justify-center font-roboto  text-black mt-3 text-center">We have sent the verification code to your registered Mobile number</span>
      <span class="flex justify-center font-roboto text-black mt-3 text-center"> {{ timer }} seconds remaining</span>

     
      <div class="flex justify-center">
        <input
          id="phonenumber-input"
          class="form-control input input-primary max-w-326 text-center mt-5" 
          placeholder="Enter OTP"
          formControlName="otpdigit"
        />

      </div>

      <div class="buttons flex justify-center mt-5">
        <button
          type=""
          class="btn btn-primary btn-md font-roboto w-80 "
        >
          SUBMIT
        </button>
      </div>


        <div class="flex justify-center mt-8">
            <p class="text-gray-500 font-roboto">Didn't receive the code? <a href="#" class="text-black font-bold">Resend OTP</a></p>
          </div>
        
      