<div class="bg-white">
  <form class="flex justify-center" [formGroup]="form" (ngSubmit)="registerUser()">
    <div class="signup-form w-80 relative">
      <div class="photo-upload-title mt-5">
        <h2 class="flex justify-center font-primary text-primary-0 text-3xl mt-5">Upload Documents</h2>
      </div>
      <div class="photo">
        <img src="../../../../assets/Imagess/images3.jpeg" alt="This is an image" class="mt-5 mb-5">
      </div>
      <div class="text-label-aadharcard">
        <span class="text-sm">Aadhar Card Photo</span>
      </div>
      <div class="file-upload-container mt-5 rounded-lg shadow-sm overflow-hidden">
        <label id="adharimage" for="aadharCardPhoto" class="font-secondary text-gray-400 block cursor-pointer">
          <span id="aadharImage">{{ aadharCardPhoto?.name }}</span>
          <span class="text-sm opacity-20 block" id="uploadphoto">Upload Photo</span>
        </label>
        <input type="file" id="aadharCardPhoto" (change)="handleFileUpload($event, 'aadharCardPhoto')" formControlName="aadharCardPhoto" class="hidden">
        <button type="button" class="btn btn-primary btn-sm ml-2 ripple" (click)="triggerFileInput('aadharCardPhoto')">Browse File</button>
      </div>
      
      <div class="file-upload-container mt-5 rounded-lg shadow-sm overflow-hidden">
        <label for="panCardPhoto" class="font-secondary text-gray-400 block cursor-pointer">
          <span id="panImage">{{ panCardPhoto?.name }}</span>
          <span class="text-sm opacity-20 block hidden" id="uploadPan">Upload Photo</span>
        </label>
        <input type="file" id="panCardPhoto" (change)="handleFileUpload($event, 'panCardPhoto')" formControlName="panCardPhoto" class="hidden">
        <button type="button" class="btn btn-primary btn-sm ml-2 ripple" (click)="triggerFileInput('panCardPhoto')">Browse File</button>
      </div>      
      <div class="form-text text-red-600" *ngIf="panCardPhotoControl.invalid && (panCardPhotoControl.dirty || panCardPhotoControl.touched)">
        <span *ngIf="panCardPhotoControl.errors?.['required']">PAN Card Photo is required.</span>
        <span *ngIf="panCardErrorMessage">{{ panCardErrorMessage }}</span>
      </div>
      <div class="signin mt-4">
        <button type="button" [disabled]="form.invalid" class="btn btn-primary btn-sm ripple">UPLOAD</button>
      </div>
      <div class="signin">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-sm ripple">SIGN IN</button>
      </div>
    </div>
  </form>
</div>
