<div class="card" *ngIf="offerData">
    <div class="card-body">
      <div class="header flex items-center justify-between bg-primary text-white p-2 h-14">
        <button class="btn btn-solid-primary menu-icon mr-4 ml-4">
          <fa-icon [icon]="faBars" class="fa-xl" [ngStyle]="{'color': '#ffffff'}"></fa-icon>
        </button>
        <h1 class="logo font-bold text-3xl italic text-center flex-grow" style="font-family: Georgia, 'Times New Roman', Times, serif;">
          {{ offerData.brandName }}
        </h1>
        <div class="flex items-center space-x-2">
          <button class="btn btn-solid-primary user-icon mr-6">
            <fa-icon [icon]="faUserGroup" class="fa-lg" [ngStyle]="{'color': '#ffffff'}"></fa-icon>
          </button>
          <button class="btn btn-solid-primary search-icon">
            <fa-icon [icon]="faMagnifyingGlass" class="fa-lg" [ngStyle]="{'color': '#ebebeb'}"></fa-icon>
          </button>
        </div>
      </div>
  
      <div class="flex justify-center p-0">
        <div class="card-body p-4">
          <div class="flex items-center justify-between p-2">
            <img [src]="offerData.profileImageUrl" alt="Profile" class="w-12 h-12 rounded-full mt-2 ml-1">
            <div class="flex-grow ml-2 text-left">
              <div class="font-bold text-lg mt-2 text-black">{{ offerData.username }}</div>
              <div class="text-sm text-gray-500">{{ offerData.offerExpiry }}</div>
            </div>
            <button class="btn btn-solid-primary font-medium border-none px-3 py-1 rounded mt-2 mr-1 cursor-pointer">
              Follow
            </button>
          </div>
  
          <img [src]="offerData.offerImageUrl" alt="Offer" class="w-full mt-2 object-cover h-72">
          <div class="offer-title mt-4 ml-4 mb-4">
            <h3 class="font-bold text-black ml-1">{{ offerData.offerTitle }}</h3>
            <p class="text-gray-500">{{ offerData.offerSubtitle }}</p>
          </div>
  
          <div class="flex justify-between items-center m-4 mb-4 mt-4">
            <div class="flex items-center space-x-4">
              <button class="btn btn-solid-primary bg-none border-none flex items-center cursor-pointer">
                <fa-icon [icon]="faThumbsUp" class="fa-xl" [ngStyle]="{'color': '#ff6251'}"></fa-icon>
                <span class="text-black ml-1">{{ offerData.likes }}</span>
              </button>
              <button class="btn btn-solid-primary bg-none border-none flex items-center cursor-pointer">
                <fa-icon [icon]="faThumbsDown" class="fa-xl" [ngStyle]="{'color': '#ff6251'}"></fa-icon>
                <span class="text-black ml-1">{{ offerData.dislikes }}</span>
              </button>
            </div>
            <div class="flex items-center space-x-4">
              <button class="btn btn-solid-primary bg-none border-none flex items-center cursor-pointer">
                <fa-icon [icon]="faLocationArrow" class="fa-xl" [ngStyle]="{'color': '#ffb43f'}"></fa-icon>
              </button>
              <button class="btn btn-solid-primary bg-none border-none flex items-center cursor-pointer">
                <fa-icon [icon]="faBookmark" class="fa-xl" [ngStyle]="{'color': '#ffb43f'}"></fa-icon>
              </button>
              <button class="btn btn-solid-primary bg-none border-none flex items-center cursor-pointer">
                <fa-icon [icon]="faEllipsisVertical" class="fa-xl" [ngStyle]="{'color': '#000000'}"></fa-icon>
              </button>
            </div>
          </div>
  
          <div class="text-center mt-5">
            <button class="btn btn-solid-primary w-10/12 py-2 text-white border-none rounded-full cursor-pointer text-lg" (click)="viewOnWebsite()">
              View on Website
            </button>
          </div>
  
          <div class="mt-1 text-xs text-gray-600 text-center">
            You will be redirected to this business website. <a href="#" class="text-blue-500" (click)="viewOnWebsite()">Learn more</a>
          </div>
  
          <div class="mt-4 ml-4 mr-2">
            <h3 class="font-bold text-black ml-1">{{ offerData.descriptionTitle }}</h3>
            <p class="text-gray-500">{{ offerData.descriptionContent }}</p>
          </div>
  
          <div class="dropdown w-full mt-4 border border-primary cursor-pointer" (click)="toggleDropdown('howToAvail')">
            <h4 class="bg-white py-3 px-4 flex justify-between items-center text-gray-700">
              How to Avail
              <span [ngClass]="{'rotate-180': dropdowns['howToAvail']}">▼</span>
            </h4>
            <div *ngIf="dropdowns['howToAvail']" class="py-3 px-4 bg-gray-100 text-gray-700">
              <ul>
                <li *ngFor="let step of offerData.howToAvailSteps">> {{ step }}</li>
              </ul>
            </div>
          </div>
  
          <div class="dropdown w-full mt-4 border border-primary cursor-pointer" (click)="toggleDropdown('termsConditions')">
            <h4 class="bg-white py-3 px-4 flex justify-between items-center text-gray-700">
              Terms & Conditions
              <span [ngClass]="{'rotate-180': dropdowns['termsConditions']}">▼</span>
            </h4>
            <div *ngIf="dropdowns['termsConditions']" class="py-3 px-4 bg-gray-100 text-gray-700">
              <ul>
                <li *ngFor="let term of offerData.termsConditions">{{ term }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  