<div >
  <div *ngIf="imagePreviews.length > 0" class="avatar">
    <img [src]="imagePreviews[0]" alt="Uploaded Image" (click)="openFileDialog()">
  </div>
  <input type="file" accept="image/*" (change)="onImageUpload($event)" class="hidden" #fileInput>
</div>

<div class="buttons-container" *ngIf="showButton">
  <button type="button" rippleButton (click)="uploadImages()" class="upload-button">
    UPDATE
  </button>
</div>

<div *ngIf="showPopUp">
  <app-pop-up [messageTitle]="popUpTitle" [messageBody]="popUpBody" (close)="onPopUpClose()"></app-pop-up>
</div>
