<div >
  <div *ngIf="imagePreviews.length > 0" class="avatar">
    <img [src]="imagePreviews[0]" alt="Uploaded Image" (click)="openFileDialog()">
  </div>
  <input type="file" accept="image/*" (change)="onImageUpload($event)" class="hidden" #fileInput>
</div>

<div class="buttons-container" *ngIf="showButton">
  <button type="button" rippleButton (click)="uploadImages()" class="w-[130px] h-[35px] bg-[#ED6A5A] text-white border border-[#ED6A5A] rounded-md hover:bg-[#f57c6c] focus:outline-none focus:ring-4 focus:ring-[#ED6A5A] mt-2 text-[14px] font-['Roboto']">
    UPDATE
  </button>
</div>

<div *ngIf="showPopUp">
  <app-pop-up [messageTitle]="popUpTitle" [messageBody]="popUpBody" (close)="onPopUpClose()"></app-pop-up>
</div>
