<div class="flex justify-center w-full p-0">
  <div class="border border-white bg-white w-full shadow-lg mt-1 mb-1">

    <div class="flex items-center justify-between p-2">
      <img [src]="postDetails.profileImageUrl" alt="Profile" class="w-12 h-12 rounded-full mt-2 ml-1">
      <div class="flex-grow ml-2 text-left">
        <div class="font-bold text-lg mt-2 text-black">{{ postDetails.username }}</div>
        <div class="text-sm text-gray-500">
          <ng-container *ngIf="isExpired; else notExpired">
            Expired
          </ng-container>
          <ng-template #notExpired>
            Expires in {{ postDetails.offerExpiry }} days
          </ng-template>
        </div>
      </div>
      <button
        class="bg-primary text-white font-medium font-system-ui border-none px-3 py-1 rounded mt-2 mr-1 cursor-pointer">
        FOLLOW
      </button>
    </div>

    <img [src]="postDetails.offerImageUrl" alt="Event" class="w-full mt-2 object-cover h-96">
    <div class="m-4 text-lg font-semibold text-gray-700 text-center">
      {{ postDetails.offerTitle }}
    </div>

    <div class="flex justify-between items-center m-4">
      <!-- Left side icons -->
      <div class="flex items-center space-x-4">
        <button class="bg-none border-none flex items-center cursor-pointer">
          <fa-icon [icon]="faThumbsUp" class="fa-xl" [ngStyle]="{'color': '#ff6251'}"></fa-icon>
          <span class="text-black ml-1">{{ postDetails.likes }}</span>
        </button>

        <button class="bg-none border-none flex items-center cursor-pointer">
          <fa-icon [icon]="faThumbsDown" class="fa-xl" [ngStyle]="{'color': '#ff6251'}"></fa-icon>
          <span class="text-black ml-1">{{ postDetails.dislikes }}</span>
        </button>
      </div>

      <!-- Right side icons -->
      <div class="flex items-center space-x-4 ">
        <button class="bg-none border-none flex items-center cursor-pointer">
          <fa-icon [icon]="faLocationArrow" class="fa-xl" [ngStyle]="{'color': '#ffb43f'}"></fa-icon>
        </button>

        <button class="bg-none border-none flex items-center cursor-pointer">
          <fa-icon [icon]="faBookmark" class="fa-xl" [ngStyle]="{'color': '#ffb43f'}"></fa-icon>
        </button>


        <div class="flex items-center space-x-4 relative">
          <button class="bg-none border-none flex items-center cursor-pointer" >
            <fa-icon [icon]="faEllipsisVertical" class="fa-xl text-black"></fa-icon>
          </button>

        </div>
      </div>

     
    </div>
    <button
    class="w-full px-2 py-1 text-lg font-bold bg-primary text-white border-none rounded-b-[4px] cursor-pointer text-center">
    Show Details →
  </button>
  </div>
</div>