.drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 80%;
  background-color: white;
  border-right: 2px solid #ccc;
  z-index: 40;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.drawer-content {
  flex: 1;
  padding: 1rem;
  background-color: white;
  overflow-y: auto;
}

.sidebar-footer {
  margin-top: auto;
  padding: 1rem;
  background-color: white;
  border-top: none;
  z-index: 30;
  position: relative;
  bottom: 0;
  margin-bottom: 30px;
}

.drawer-toggle:checked ~ .overlay {
  opacity: 0;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  transition: opacity 0.3s ease;
}

.bottom-component {
  z-index: 10;
  position: relative;
}
