.drawer {
  width: 80%;
  z-index: 40;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.drawer-content {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.sidebar-footer {
  margin-top: auto;
  padding: 1rem;
  z-index: 30;
  position: relative;
  margin-bottom: 30px;
}

.drawer-toggle:checked ~ .overlay {
  opacity: 0;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s ease;
}