<div class="bg-white">
    <span class="flex justify-center font-primary text-primary-0 text-3xl mt-5">Let's get you ready...</span>
    <form class="flex justify-center" [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="signup-form w-80 relative">
        <div class="mt-3">
          <label class="form-label pb-2 font-secondary">Name :</label>
          <input type="text" class="input input-primary max-w-full" placeholder="name" formControlName="name">
          <div class="form-text text-red-600" *ngIf="name.invalid && (name.dirty || name.touched)">
            <span *ngIf="name.errors?.['required']">Name is required.</span>
          </div>
        </div>
        <div class="mt-3">
          <label class="form-label pb-2 font-secondary">Username :</label>
          <input type="text" class="input input-primary max-w-full" placeholder="Username" formControlName="username">
          <div class="form-text text-red-600" *ngIf="username.invalid && (username.dirty || username.touched)">
            <span *ngIf="username.errors?.['required']">Username is required.</span>
            <span *ngIf="username.errors?.['maxlength']">Username cannot be more than 10 characters.</span>
          </div>
        </div>
        <div class="email mt-3">
          <label class="form-label pb-2 font-secondary">Email :</label>
          <input type="email" class="input input-primary max-w-full" placeholder="Email" formControlName="email">
          <div class="form-text text-red-600" *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors?.['required']">Email is required.</span>
            <span *ngIf="email.errors?.['email']">Invalid email format.</span>
          </div>
        </div>
        <div class="mt-3">
          <label class="form-label pb-2 font-secondary">Phone Number :</label>
          <input type="text" class="input input-primary max-w-full" placeholder="Phone Number" formControlName="phoneNumber">
          <div class="form-text text-red-600" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
            <span *ngIf="phoneNumber.errors?.['required']">Phone Number is required.</span>
            <span *ngIf="phoneNumber.errors?.['maxlength']">Phone Number cannot be more than 10 characters.</span>
            <span *ngIf="phoneNumber.errors?.['numeric']">Phone Number must contain only numbers.</span>
          </div>
        </div>
      
        <div class="gender mt-3">
          <label class="form-label pb-2 font-secondary">Gender:</label>
          <select class="input input-primary max-w-full" formControlName="gender">
            <option value="" disabled>Select Gender</option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="others">Others</option>
          </select>
          <div class="form-text text-red-600" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
            <span *ngIf="gender.errors?.['required']">Gender is required.</span>
          </div>
        </div>
        <div class="T&C mt-5">
          <label class="flex cursor-pointer gap-2 font-secondary text-sm">
            <input type="checkbox" class="checkbox-primary checkbox" formControlName="confirmPolicies">
            <span>I accept the <a href="#" class="text-primary-0">Terms & Conditions.</a></span>
          </label>
          <div class="form-text text-red-600" *ngIf="confirmPolicies.invalid && (confirmPolicies.dirty || confirmPolicies.touched)">
            <span *ngIf="confirmPolicies.errors?.['requiredTrue']">You must accept the terms and conditions.</span>
          </div>
        </div>
        <div class="buttons flex justify-center mt-5">
          <button type="submit" class="btn btn-primary btn-md font-secondary w-30 mr-10" [disabled]="form.invalid">SIGN UP</button>
        </div>
      </div>
    </form>
  </div>