<div class="bg-white">
  <div class="flex justify-center">
    <div class="logo mt-5 w-40 h-40">
      <img class="object-fill" src="assets/logo.png" />
    </div>
  </div>
  <span class="flex justify-center font-primary text-primary-0 text-3xl">
    Welcome to Spreezy
  </span>

  <form class="mt-5 flex justify-center" (ngSubmit)="onSubmit()">
    <div class="login-form w-80">
      <div class="form-group email">
        <label class="form-label text-black font-regular text-3xl font-roboto">
          Sign in
        </label>
      </div>
      <div class="form-group phonenumber relative mt-5">
        <label class="form-label font-roboto color-black">
          Enter your Registered Mobile number
        </label>
        <input
          id="phonenumber-input"
          class="form-control input input-primary max-w-full"
          placeholder="+91 Enter number"
          formControlName="phonenumber"
        />
        <span
          class="font-roboto text-primary-0 text-sm ml-3"
          *ngIf="form.controls['phonenumber'].hasError('required') && submitted"
          >Number is required.</span
        >
        <span
          class="font-roboto text-primary-0 text-sm ml-3"
          *ngIf="form.controls['phonenumber'].hasError('minlength') && submitted"
          >Enter a valid number.</span
        >
        <span
          class="font-roboto text-primary-0 text-sm ml-3"
          *ngIf="form.controls['phonenumber'].hasError('maxlength') && submitted"
          >Enter a valid number.</span
        >
      </div>

      <div class="buttons flex justify-center mt-5">
        <a routerLink="/otpscreen" class="btn btn-primary btn-md font-roboto w-80">
          SIGN IN
        </a>
      </div>

      <div class="divider divider-horizontal">OR</div>

      <div class="sso-login flex justify-center mt-5">
        <button
          type="button"
          class="btn gap-2 bg-white w-80 border border-orange-600"
          (click)="signInWithGoogle()"
        >
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            version="1.1"
            viewBox="0 0 48 48"
            enablebackground="new 0 0 48 48"
            class="h-5 w-5"
            xmlns="http://www.w3.org/2000/svg"
          >
            <!-- Google icon SVG -->
          </svg>
          <span class="text-orange-600">Sign in with Google</span>
        </button>
      </div>
      <div class="flex justify-center mt-5">
        <span class="text-gray-500 font-semibold">New to Spreezy? </span>
        <button type="button" class="btn btn-primary w-40 ml-4">Sign up</button>
      </div>
    </div>
  </form>
</div>
