<div class="bg-white">
  <app-loader *ngIf="isLoaderVisible"></app-loader>
  <div class="flex justify-center items-center mt-10">
    <div class="logo w-1/3 flex items-center justify-center">
      <img
        class="object-contain"
        width="300px"
        src="assets/logo.png"
        alt="Logo"
      />
    </div>
  </div>
  <span class="flex justify-center font-primary text-3xl text-primary-0 mt-3">
    Welcome to Spreezy
  </span>

  <form
    class="mt-5 flex justify-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="login-form w-80">
      <div class="form-group email mt-3">
        <label class="form-label text-black font-regular text-3xl font-roboto">
          Sign in
        </label>
      </div>
      <div class="form-group phonenumber relative mt-2">
        <label class="form-label font-roboto text-lg text-gray-700">
          Enter your Registered Mobile number
        </label>
        <div class="flex items-center mt-1 border border-primary-0 rounded-md">
          <div class="flex w-1/4 items-center pl-3 pr-1 text-xl text-primary">
            +91 |
          </div>
          <input
            #phonenumber
            class="form-control py-6 input bg-white text-lg text-black placeholder-gray-400 focus:outline-none w-full border-none"
            placeholder="Enter Number"
            formControlName="phonenumber"
          />
        </div>

        <div class="text-sm ml-3 mt-2 text-red-500">
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('required') && submitted
            "
          >
            Number is required.
          </span>
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('minlength') && submitted
            "
          >
            Mobile number should not be less than 10 digits.
          </span>
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('maxlength') && submitted
            "
          >
            Mobile number should not be greater than 10 digits.
          </span>
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('invalidPhoneNumber') &&
              submitted
            "
          >
            Enter a valid mobile number.
          </span>
        </div>
      </div>

      <div class="buttons flex justify-center mt-5">
        <button
          type="submit"
          class="btn py-6 hover:bg-primary-0 text-lg text-white font-roboto w-full btn-primary rounded-md"
        >
          SIGN IN
        </button>
      </div>

      <div class="divider flex items-center mt-5">
        <hr class="flex-grow border-gray-300" />
        <span class="px-2 text-xl text-gray-500">Or</span>
        <hr class="flex-grow border-gray-300" />
      </div>

      <div class="sso-login flex justify-center mt-5">
        <button
          type="button"
          class="btn py-6 flex items-center gap-2 bg-secondary w-full border border-primary-0 rounded-md"
          (click)="signInWithGoogle()"
        >
          <img src="../../../assets/GOOGLE.png" class="h-6" alt="img" />
          <span class="text-lg text-primary-0">Sign in with Google</span>
        </button>
      </div>

      <div class="flex justify-center mt-10">
        <span class="text-xl text-gray-500 font-medium">New to Spreezy?</span>
        <button
          type="button"
          class="btn text-lg text-white font-roboto ml-4 py-4 rounded-md btn-primary"
        >
          SIGN UP
        </button>
      </div>
    </div>
  </form>
  <app-pop-up
    *ngIf="showPopUp"
    [messageTitle]="popupMessageTitle"
    [messageBody]="popupMessageBody"
    (close)="handleClosePopUp()"
  ></app-pop-up>
</div>
