<div class="bg-white">
  <app-loader *ngIf="isLoaderVisible"></app-loader>
  <div class="flex justify-center items-center mt-10">
    <div class="logo w-1/3 flex items-center justify-center">
      <img
        class="object-contain"
        width="300px"
        src="assets/logo.png"
        alt="Logo"
      />
    </div>
  </div>
  <span class="flex justify-center font-primary text-3xl text-primary mt-3">
    Welcome to Spreezy
  </span>

  <form
    class="mt-5 flex justify-center"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="login-form w-80">
      <div class="form-group email mt-3">
        <label class="form-label text-black font-regular text-3xl font-roboto">
          Sign in
        </label>
      </div>
      <div class="form-group phonenumber relative mt-2">
        <label class="form-label font-roboto text-lg text-gray-700">
          Enter your Registered Mobile number
        </label>
        <div class="flex items-center mt-1 border border-primary rounded-md">
          <div class="flex w-1/4 items-center pl-3 pr-1 text-xl text-primary">
            +91 |
          </div>
          <input
            #phonenumber
            class="form-control py-6 input bg-white text-lg text-black placeholder-gray-400 focus:outline-none w-full border-none"
            placeholder="Enter Number"
            formControlName="phonenumber"
          />
        </div>

        <div class="text-sm ml-3 mt-2 text-red-500">
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('required') && submitted
            "
          >
            Number is required.
          </span>
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('minlength') && submitted
            "
          >
            Mobile number should not be less than 10 digits.
          </span>
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('maxlength') && submitted
            "
          >
            Mobile number should not be greater than 10 digits.
          </span>
          <span
            class="font-roboto"
            *ngIf="
              form.controls['phonenumber'].hasError('invalidPhoneNumber') &&
              submitted
            "
          >
            Enter a valid mobile number.
          </span>
        </div>
      </div>

      <div class="buttons flex justify-center mt-5">
        <button
          type="submit"
          class="btn py-6 hover:bg-primarycolor-0 text-lg text-white font-roboto w-full bg-primarycolor-0 rounded-md"
        >
          SIGN IN
        </button>
      </div>

      <div class="divider flex items-center mt-5">
        <hr class="flex-grow border-gray-300" />
        <span class="px-2 text-xl text-gray-500">OR</span>
        <hr class="flex-grow border-gray-300" />
      </div>

      <!-- <div class="sso-login flex justify-center mt-5">
        <button
          type="button"
          class="btn gap-2 bg-white w-80 border border-orange-600"
          (click)="signInWithGoogle()"
        >
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="h-5 w-5">
            <path fill="#4285F4" d="M24 9.5c3.87 0 6.15 1.67 7.54 3.07l5.53-5.53C33.66 4.09 29.32 2 24 2 14.72 2 7.13 7.73 4.15 16.11l6.92 5.37C12.52 14.63 17.82 9.5 24 9.5z"/>
            <path fill="#34A853" d="M46.21 24.62c0-1.32-.12-2.55-.32-3.77H24v7.1h12.56c-.6 3.06-2.4 5.65-4.93 7.39l7.45 5.8c4.35-4.01 6.86-9.91 6.86-15.52z"/>
            <path fill="#FBBC05" d="M10.36 29.91c-1.15-.92-2.09-2.08-2.76-3.4l-6.92 5.37C3.87 38.16 8.9 42 14.71 42c4.44 0 8.14-1.49 10.85-4.04l-6.35-4.92c-1.83 1.22-4.14 1.95-6.85 1.95-3.45 0-6.44-1.18-8.72-3.08l-6.91 5.36C4.87 44.53 14.71 48 24 48c8.68 0 15.68-2.83 21.06-7.66l-7.45-5.8c-2.76 2.01-6.27 3.21-10.02 3.21-5.49 0-10.35-2.31-13.8-6.04l7.41-5.77c1.34 1.07 3.02 1.82 4.89 2.13V24.62H10.36v5.29z"/>
            <path fill="none" d="M0 0h48v48H0z"/>
          </svg>
          <span class="text-orange-600">Sign in with Google</span>
        </button>
      </div> -->

      <div class="flex justify-center mt-10">
        <span class="text-xl text-gray-500 font-medium">New to Spreezy?</span>
        <button
          type="button"
          class="btn text-lg text-white font-roboto ml-4 py-4 rounded-md btn-primary"
        >
          SIGN UP
        </button>
      </div>
    </div>
  </form>
  <app-pop-up
    *ngIf="showPopUp"
    [messageTitle]="popupMessageTitle"
    [messageBody]="popupMessageBody"
    (close)="handleClosePopUp()"
  ></app-pop-up>
</div>
