<div class="bg-white">
  <span class="flex justify-center font-primary text-primary-0 text-3xl mt-5"
    >Come join us...</span
  >
  <form
    class="flex justify-center"
    [formGroup]="form"
    (ngSubmit)="registerUser()"
  >
    <div class="signup-form w-80 relative">
      <div class="first-name mt-3">
        <label class="form-label pb-2 font-secondary text-primary-0"
          >First Name :</label
        >
        <input
          type="text"
          class="input input-primary max-w-full"
          placeholder="First Name"
          formControlName="firstName"
        />
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['firstName'].hasError('required')"
        >
          Please provide your first name.
        </span>
      </div>
      <div class="last-name mt-3">
        <label class="form-label pb-2 font-secondary text-primary-0"
          >Last Name :</label
        >
        <input
          type="text"
          class="input input-primary max-w-full"
          placeholder="Last Name"
          formControlName="lastName"
        />
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['lastName'].hasError('required')"
        >
          Please provide your last name.
        </span>
      </div>
      <div class="username mt-3">
        <label class="form-label pb-2 font-secondary text-primary-0"
          >Username :</label
        >
        <input
          type="text"
          class="input input-primary max-w-full"
          placeholder="Username"
          formControlName="username"
        />
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['username'].hasError('required')"
        >
          Username is required.
        </span>
      </div>
      <div class="email mt-3">
        <label class="form-label pb-2 font-secondary text-primary-0"
          >Email :</label
        >
        <input
          type="email"
          class="input input-primary max-w-full"
          placeholder="Email"
          formControlName="email"
        />
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['email'].hasError('required')"
        >
          Email is required.
        </span>
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['email'].hasError('email')"
        >
          Please provide a valid email.
        </span>
      </div>
      <div class="password mt-3 relative">
        <label class="form-label pb-2 font-secondary text-primary-0"
          >Password :</label
        >
        <input
          class="input input-primary max-w-full"
          placeholder="Password"
          type="{{ showNewPassword === false ? 'password' : 'text' }}"
          formControlName="password"
        />
        <div class="absolute right-5 top-10">
          <ng-icon
            name="{{ newPasswordIcon }}"
            (click)="toggleNewPassword()"
          ></ng-icon>
        </div>
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['password'].hasError('required')"
          >Password is required.</span
        >
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['password'].hasError('minlength')"
          >Password too short.</span
        >
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['password'].hasError('maxlength')"
          >Password too long.</span
        >
      </div>
      <div class="password mt-3 relative">
        <label class="form-label pb-2 font-secondary text-primary-0"
          >Re-enter your password :</label
        >
        <input
          type="{{ showConfirmNewPassword === false ? 'password' : 'text' }}"
          class="input input-primary max-w-full"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['confirmPassword'].hasError('required')"
          >Password is required.</span
        >
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['confirmPassword'].hasError('minlength')"
          >Password too short.</span
        >
        <span
          class="font-secondary text-primary-0 text-sm ml-3"
          *ngIf="form.controls['confirmPassword'].hasError('maxlength')"
          >Password too long.</span
        >
        <span
          class="font-secondary text-primary-0 text-sm ml-2"
          *ngIf="
            form.controls['password'].valid &&
            form.controls['confirmPassword'].dirty &&
            form.controls['password'].value !==
              form.controls['confirmPassword'].value
          "
        >
          Passwords must match.
        </span>
        <div class="absolute right-5 top-10">
          <ng-icon
            name="{{ confirmPasswordIcon }}"
            (click)="toggleConfirmNewPassword()"
          ></ng-icon>
        </div>
      </div>
      <div class="T&C mt-5">
        <label class="flex cursor-pointer gap-2 font-secondary text-sm">
          <input
            type="checkbox"
            class="checkbox-primary checkbox"
            formControlName="confirmPolicies"
          />
          <span
            >I accept to the
            <a
              href="#"
              class="underline underline-offset-8 decoration-primary-0"
              >Terms & Conditions.</a
            ></span
          >
        </label>
      </div>
      <div class="buttons flex justify-center mt-5">
        <button
          routerLink="/login"
          routerLinkActive="active"
          class="btn btn-primary btn-md font-secondary w-20 mr-10"
        >
          Back
        </button>
        <button
          type="submit"
          [disabled]="form.invalid"
          class="btn btn-primary btn-md font-secondary w-60"
        >
          SIGN UP
        </button>
      </div>
    </div>
  </form>
</div>
