<div>
  <div class="mt-16 mb-16 test1:w-full" style="max-height: 2400px;">
    <div class="profile-container">
<!-- Business Details and Stats -->
      <div class="header bg-white p-2 flex items-center" style="font-family: 'Roboto', sans-serif; font-weight: 400; letter-spacing: 0.5px;">
        <img src="{{ business.profilePictureUrl }}" alt="Business Logo" class="rounded-full ml-2 w-24 h-24 border border-red-5">
        <div class="ml-5 mt-2">
          <h2 class="text-black text-lg font-bold tracking-wider truncate max-w-screen-md">{{ business.name }}</h2>
          <p class="text-red-500 mb-2 tracking-wider truncate max-w-screen-md">@{{ business.username }}</p>
          <div class="social-links flex justify-start items-center">
            <a [href]="business.phoneNumber" class="text-red-500" target="_blank">
              <i class="ri-phone-line text-2xl pr-1"></i>
            </a>
            <a [href]="business.email" class="text-red-500 px-2" target="_blank">
              <i class="ri-mail-line text-2xl px-1"></i>
            </a>
            <a [href]="business.instagramUrl" class="text-red-500 px-1" target="_blank">
              <i class="ri-instagram-line text-2xl px-1"></i>
            </a>
            <a [href]="business.facebookUrl" class="text-red-500 px-1" target="_blank">
              <i class="ri-facebook-line text-2xl"></i>
            </a>
            <a [href]="business.facebookUrl" class="text-red-500" target="_blank">
              <i class="ri-share-line text-2xl px-2"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="stats bg-white flex justify-between mt-2 px-12 text-center " style="font-family: 'Roboto', sans-serif; font-weight: 400; letter-spacing: 0.5px;">
        <div>
          <p class="font-bold">{{ business.numberOfAdvertisements }}</p>
          <p>Posts</p>
        </div>
        <div>
          <p class="font-bold">{{ business.followers }}</p>
          <p>Followers</p>
        </div>
        <div>
          <p class="font-bold">{{ business.following }}</p>
          <p>Following</p>
        </div>
      </div>
<!-- Post and Saved Buttons -->
      <div class="tab-menu mt-4 flex justify-center space-x-0">
        <button
          (click)="switchTab('posts')"
          [class.active-tab]="selectedTab === 'posts'"
          class="flex-1 p-4 flex items-center justify-center rounded-sm bg-gray-100 hover:bg-gray-200 transition-colors">
          <fa-icon [icon]="faList" class="text-2xl" [ngClass]="{'text-white': selectedTab === 'posts', 'text-primarycolor-0': selectedTab !== 'posts'}"></fa-icon>
        </button>
        <button
          (click)="switchTab('saved')"
          [class.active-tab]="selectedTab === 'saved'"
          class="flex-1 p-4 flex items-center justify-center rounded-sm bg-gray-100 hover:bg-gray-200 transition-colors">
          <fa-icon [icon]="faBookmark" class="text-2xl" [ngClass]="{'text-white': selectedTab === 'saved', 'text-primarycolor-0': selectedTab !== 'saved'}"></fa-icon>
        </button>
      </div>
<!-- Profile Posts Section -->
      <div class="scroll-container posts-container" (scroll)="onScroll($event)" *ngIf="selectedTab === 'posts'">
        <div class="post-section grid grid-cols-1 gap-2 py-2">
          <div *ngFor="let post of visibleProfilePosts" class="ad-item">
            <ng-container *ngIf="post.advertisementType == 'Post'">
              <div [ngClass]="{'grayed-out': isExpired(post.offerExpiry)}">
                <app-Post [postDetails]="post"></app-Post>
              </div>
            </ng-container>
            <ng-container *ngIf="post.advertisementType == 'Event'">
              <div [ngClass]="{'grayed-out': isExpired(post.offerExpiry)}">
                <app-Event [eventDetails]="post"></app-Event>
              </div>
            </ng-container>
            <ng-container *ngIf="post.advertisementType == 'Coupon'">
              <div [ngClass]="{'grayed-out': isExpired(post.offerExpiry)}">
                <app-Coupon [couponDetails]="post"></app-Coupon>
              </div>
            </ng-container>
          </div>
          <div *ngIf="loadingProfilePosts" class="text-center py-4">
             <app-loader></app-loader>
          </div>
        </div>
      </div>
<!-- Saved Posts Section -->
      <div class="scroll-container saved-container" (scroll)="onScroll($event)" *ngIf="selectedTab === 'saved'">
        <div class="saved-section grid grid-cols-1 gap-2 py-2">
          <div *ngFor="let post of visibleSavedPosts" class="ad-item">
            <ng-container *ngIf="post.advertisementType == 'Post'">
              <div [ngClass]="{'grayed-out': isExpired(post.offerExpiry)}">
                <app-Post  [postDetails]="post"></app-Post>
              </div>
            </ng-container>
            <ng-container *ngIf="post.advertisementType == 'Event'">
              <div [ngClass]="{'grayed-out': isExpired(post.offerExpiry)}">
                <app-Event [eventDetails]="post"></app-Event>
              </div>
            </ng-container>
            <ng-container *ngIf="post.advertisementType == 'Coupon'">
              <div [ngClass]="{'grayed-out': isExpired(post.offerExpiry)}">
                <app-Coupon [couponDetails]="post"></app-Coupon>
              </div>
            </ng-container>
          </div>
          <div *ngIf="loadingSavedPosts" class="text-center py-4">
            <app-loader></app-loader>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
