<div>
    <app-business-top-navbar ></app-business-top-navbar>
    <div class="mt-16 mb-16 test1:w-full" style="max-height: 2400px;">
        <div class="profile-container">
            <div class="header bg-white p-4 flex items-center">
              <img src="{{ business.logo }}" alt="Business Logo" class="rounded-full mb-8 w-16 h-16 border border-red-5">
              <div class="ml-4">
                <h2 class="text-black font-bold">{{ business.businessName }}</h2>
                <p class="text-red-500 mb-2">{{ business.username }}</p>
                <div class="social-links flex justify-between items-center">
                  <a [href]="business.socialLinks.call" class="text-red-500" target="_blank">
                    <i class="ri-phone-line text-2xl px-2"></i>
                  </a>
                  <a [href]="business.socialLinks.email" class="text-red-500 px-4" target="_blank">
                    <i class="ri-mail-line text-2xl"></i>
                  </a>
                  <a [href]="business.socialLinks.instagram" class="text-red-500" target="_blank">
                    <i class="ri-instagram-line text-2xl px-2"></i>
                  </a>
                  <a [href]="business.socialLinks.facebook" class="text-red-500 px-2" target="_blank">
                    <i class="ri-facebook-line text-2xl"></i>
                  </a>
                  <a [href]="business.socialLinks.share" class="text-red-500" target="_blank">
                    <i class="ri-share-line text-2xl px-2"></i>
                  </a>
                </div>
              </div>
              <i class="ri-edit-2-line ml-auto text-white text-xl"></i>
            </div>

            <div class="stats bg-white flex justify-between px-16 text-center">
              <div>
                <p class="font-bold">{{ business.posts }}</p>
                <p>Posts</p>
              </div>
              <div>
                <p class="font-bold">{{ business.followers }}</p>
                <p>Followers</p>
              </div>
              <div>
                <p class="font-bold">{{ business.following }}</p>
                <p>Following</p>
              </div>
            </div>

            <div class="tab-menu mt-4 flex justify-center">
              <button (click)="switchTab('posts')" [class.active-tab]="selectedTab === 'posts'" class="mr-4">
                Posts
              </button>
              <button (click)="switchTab('saved')" [class.active-tab]="selectedTab === 'saved'">
                Saved
              </button>
            </div>

            <div class="post-section grid grid-cols-2 gap-4 p-4" *ngIf="selectedTab === 'posts'">
              <div *ngFor="let image of business.postedImages">
                <img [src]="image" alt="Post" class="w-full">
              </div>
            </div>

            <div class="saved-section grid grid-cols-2 gap-4 p-4" *ngIf="selectedTab === 'saved'">
              <div *ngFor="let image of business.savedPosts">
                <img [src]="image" alt="Saved Post" class="w-full">
              </div>
            </div>
          </div>
    </div>
    <app-business-bottom-navbar ></app-business-bottom-navbar>
  </div>