<div class="bg-white">
  <span class="flex justify-center font-primary text-primary-0 text-3xl mt-5">Let's get you ready...</span>
  <form class="flex justify-center" [formGroup]="form" (ngSubmit)="registerUser()">
    <div class="signup-form w-80 relative">
      <div class="name mt-3">
        <label class="form-label pb-2 font-secondary">Owner Name :</label>
        <input type="text" class="input input-primary max-w-full" placeholder="ownerName" formControlName="ownerName" />
        <div class="form-text text-red-600" *ngIf="name.invalid && (name.dirty || name.touched)">
          <span *ngIf="name.errors?.['required']">Name is required.</span>
        </div>
      </div>

      <div class="business-name mt-3">
        <label class="form-label pb-2 font-secondary">Business Name :</label>
        <input type="text" class="input input-primary max-w-full" placeholder="Business Name" formControlName="businessName" />
        <div class="form-text text-red-600" *ngIf="businessName.invalid && (businessName.dirty || businessName.touched)">
          <span *ngIf="businessName.errors?.['required']">Business Name is required.</span>
          <span *ngIf="businessName.errors?.['maxlength']">Business Name cannot be more than 10 characters.</span>
        </div>
      </div>
      
      <div class="business-username mt-3">
        <label class="form-label pb-2 font-secondary">Business Username :</label>
        <input type="text" class="input input-primary max-w-full" placeholder="Business Username" formControlName="businessUsername" />
        <div class="form-text text-red-600" *ngIf="businessUsername.invalid && (businessUsername.dirty || businessUsername.touched)">
          <span *ngIf="businessUsername.errors?.['required']">Business Username is required.</span>
          <span *ngIf="businessUsername.errors?.['maxlength']">Business Username cannot be more than 10 characters.</span>
        </div>
      </div>
      <div class="email mt-3">
        <label class="form-label pb-2 font-secondary">Email :</label>
        <input type="email" class="input input-primary max-w-full" placeholder="Email" formControlName="email" />
        <div class="form-text text-red-600" *ngIf="email.invalid && (email.dirty || email.touched)">
          <span *ngIf="email.errors?.['required']">Email is required.</span>
          <span *ngIf="email.errors?.['email']">Invalid email format.</span>
        </div>
      </div>
      
      <div class="last-name mt-3">
        <label class="form-label pb-2 font-secondary">Phone Number :</label>
        <input type="text" class="input input-primary max-w-full" placeholder="Phone number" formControlName="phoneNumber" />
        <div class="form-text text-red-600" *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
          <span *ngIf="phoneNumber.errors?.['required']">Phone Number is required.</span>
          <span *ngIf="phoneNumber.errors?.['maxlength']">Phone Number cannot be more than 10 characters.</span>
          <span *ngIf="phoneNumber.errors?.['numeric']">Phone Number must contain only numbers.</span>
        </div>
      </div>

      <div class="gender mt-3">
        <label class="form-label pb-2 font-secondary">Gender:</label>
        <select class="input input-primary max-w-full" formControlName="gender">
          <option value="" disabled selected>Select Gender</option>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="others">Others</option>
        </select>
        <div class="form-text text-red-600" *ngIf="gender.invalid && (gender.dirty || gender.touched)">
          <span *ngIf="gender.errors?.['required']">Gender is required.</span>
        </div>
      </div>
      <div class="T&C mt-5">
        <label class="flex cursor-pointer gap-2 font-secondary text-sm">
          <input type="checkbox" class="checkbox-primary checkbox" formControlName="confirmPolicies" />
          <span>I accept to the <a href="https://example.com/terms" target="_blank" class="text-primary-0">Terms & Conditions.</a></span>
        </label>
        <div class="form-text text-red-600" *ngIf="confirmPolicies.invalid && (confirmPolicies.dirty || confirmPolicies.touched)">
          <span *ngIf="confirmPolicies.errors?.['requiredTrue']">You must accept the terms and conditions.</span>
        </div>
      </div>
      <div class="buttons flex justify-center mt-5">
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-md font-secondary w-60"><a routerLink="/business2">NEXT</a></button>
      </div>
    </div>
  </form>
</div>
