<div class="bottom fixed bottom-0 w-full z-20">
  <div id="bottom-navbar" class="flex bg-primarycolor-0 mb-0 w-full z-20" style="height: 55px;">

    <div (click)="Home()" [ngClass]="{'active': Home_screen_active}" class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': Home_screen_active, 'text-white': !Home_screen_active}" 
        [icon]="faHome">
      </fa-icon>
    </div>

    <div (click)="Insights()" [ngClass]="{'active': Insights_screen_active}" class="nav-item grow text-center py-2 cursor-pointer flex justify-center items-center" style="height: 100%;">
      <img src="assets/icons/insights.svg" alt="Insights Icon" 
           class="insights-icon"
           [ngClass]="{'active-icon': Insights_screen_active, 'text-white': !Insights_screen_active}"
           style="width: 2em; height: 2em; fill: currentColor;">
    </div>

    <div (click)="Add_Post()" [ngClass]="{'active': Post_screen_active}" class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': Post_screen_active, 'text-white': !Post_screen_active}" 
        [icon]="faAdd">
      </fa-icon>
    </div>

    <div (click)="Notification()" [ngClass]="{'active': Notification_screen_active}" class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': Notification_screen_active, 'text-white': !Notification_screen_active}" 
        [icon]="faBell">
      </fa-icon>
    </div>

    <div (click)="Profile()" [ngClass]="{'active': Profile_screen_active}" class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': Profile_screen_active, 'text-white': !Profile_screen_active}" 
        [icon]="faCircleUser">
      </fa-icon>
    </div>
  </div>
</div>
