<div class="bg-white">
  <form class="flex justify-center">
    <div class="signup-form w-80 relative">
      <div class="photo-upload-title mt-5">
        <span class="flex justify-center font-primary text-primary-0 text-3xl mt-5">Let's get you ready...</span>
      </div>
      <br>

      <div class="img-up">
        <img src="../../../assets/Imagess/image1.png" alt=""> 
      </div>
      <div class="button-up my-3">
        <div class="btn-container">
          <button class="btn btn-error btn-lg" (click)="navigatebusiness()">I am a Business</button> 
        </div>
      </div>

      <div class="img-down my-3 mt-10">
        <img src="../../../assets/Imagess/image2.png"> 
      </div>
      <div class="button-down">
        <div class="btn-container">
          <button class="btn btn-error btn-lg" (click)="navigateconsumer()">I am a Consumer</button>
        </div>
      </div>
    </div>
  </form>
</div>
