<div class="relative">
  <div class="flex box-border h-auto fixed top-0 w-full z-30">
    <div class="navbar py-1 bg-primarycolor-0 shadow-none">
      <div class="navbar-start">
        <input type="checkbox" id="drawer-left" class="drawer-toggle hidden" />
        <label for="drawer-left" class="btn w-9 bg-primarycolor-0" style="height:7.3%">
          <fa-icon class="text-white text-2xl" [icon]="faIcons.bars"></fa-icon>
        </label>

        <div class="drawer fixed top-0 left-0 w-4/5 h-full border-r-2 z-40 bg-white dark:bg-white" style="margin-top: 56px;">
          <div class="drawer-content pt-2 px-2 mt-1 overflow-x-hidden overflow-y-auto bg-white dark:bg-white" style="height: 87%;">
            <aside class="sidebar h-full flex flex-col bg-white dark:bg-white">
              <section class="sidebar-title p-2 text-center">
                <div class="flex flex-col w-full items-center justify-center">
                  <span class="text-xl mt-2 font-sidebar text-primary text-center"> {{consumer?.name}} </span>
                  <span class="text-lg font-normal font-sidebar text-content2 dark:text-content2 text-center"> {{consumer?.username}} </span>
                </div>
              </section>

              <div class="divider my-2"></div>

              <section class="sidebar-content flex-grow overflow-visible pt-1">
                <nav class="menu rounded-md">
                  <section class="menu-section px-2">
                    <ul class="menu-items">
                      <li class="menu-item py-1">
                        <fa-icon class="pl-0 pr-1 text-lg w-8 h-8 text-primarycolor-0" [icon]="faIcons.filePen"></fa-icon>
                        <span class="pl-1 text-lg font-normal text-black dark:text-black">Share Feedback</span>
                      </li>
                      <li class="menu-item py-1">
                        <fa-icon class="pl-0 pr-1 text-lg w-8 h-8 text-primarycolor-0" [icon]="faIcons.gear"></fa-icon>
                        <span class="pl-1 text-lg font-normal text-black dark:text-black">Settings</span>
                      </li>
                      <li class="menu-item py-1">
                        <img src="assets/logo.png" alt="Contact Us" class="pl-0 pr-1 w-8 h-8" />
                        <span class="pl-1 text-lg font-normal text-black dark:text-black">Contact Us</span>
                      </li>
                      <li class="menu-item py-1">
                        <fa-icon class="pl-0 pr-1 text-lg w-8 h-8 text-primarycolor-0" [icon]="faIcons.circleQuestion"></fa-icon>
                        <span class="pl-1 text-lg font-normal text-black dark:text-black">Help</span>
                      </li>
                      <li class="menu-item py-1">
                        <fa-icon class="pl-0 pr-1 text-lg w-8 h-8 text-primarycolor-0" [icon]="faIcons.fileLines"></fa-icon>
                        <span class="pl-1 text-lg font-normal text-black dark:text-black">Terms & Conditions</span>
                      </li>
                    </ul>
                  </section>
                </nav>
              </section>

              <section class="sidebar-footer mt-auto">
                <div class="divider my-4"></div> 
                <ul class="menu-items">
                  <li class="menu-item py-1">
                    <fa-icon class="pl-1 pr-1 text-lg w-8 h-8 text-primarycolor-0" [icon]="faIcons.arrowRightFromBracket"></fa-icon>
                    <span class="pl-1 text-lg font-normal text-black dark:text-black" (click)="logout()">Logout</span>
                  </li>
                </ul>
              </section>
            </aside>
          </div>
        </div>

        <a class="navbar-item ml-0 pl-1 font-medium text-2xl text-white font-primary">Spreezy</a>
      </div>
      </div>
    </div>
  </div>
  
  <div class="bottom-component z-10">
  </div>