<div class="bottom fixed bottom-0 w-full z-20">
    <div id="bottom-navbar" class="flex justify-center bg-primarycolor-0 mb-0 w-auto" style="height: 55px;">
        <div class="grow text-center my-0 py-2 w-1/5 z-40" style="height: 13%;">
          <fa-icon class="py-1 my-2 text-white text-3xl" [icon]="faHome"></fa-icon>
        </div>
        <div class="grow text-center my-0 py-2 w-1/5 z-40" style="height: 13%;">
          <fa-icon class="py-1 my-2 text-white text-3xl" [icon]="faSearch"></fa-icon>
        </div>
        <div class="grow text-center my-0 py-2 w-1/5 z-40" style="height: 13%;">
          <fa-icon class="py-1 my-2 text-white text-3xl" [icon]="faBell"></fa-icon>
        </div>
        <div class="grow text-center my-0 py-2 w-1/5 z-40" style="height: 13%;">
          <fa-icon class="py-1 my-2 text-white text-3xl" [icon]="faCircleUser"></fa-icon>
        </div>
    </div>
  </div>