<div class="bottom fixed bottom-0 w-full z-20">
  <div id="bottom-navbar" class="flex justify-center bg-primarycolor-0 mb-0 w-auto" style="height: 55px;">
    
    <div (click)="navigateTo('Home')" [ngClass]="{'active': isActive('Home')}" 
      class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': isActive('Home'), 'text-white': !isActive('Home')}" 
        [icon]="faHome">
      </fa-icon>
    </div>

    <div (click)="navigateTo('Search')" [ngClass]="{'active': isActive('Search')}" 
      class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': isActive('Search'), 'text-white': !isActive('Search')}" 
        [icon]="faSearch">
      </fa-icon>
    </div>

    <div (click)="navigateTo('Notification')" [ngClass]="{'active': isActive('Notification')}" 
      class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': isActive('Notification'), 'text-white': !isActive('Notification')}" 
        [icon]="faBell">
      </fa-icon>
    </div>

    <div (click)="navigateTo('Profile')" [ngClass]="{'active': isActive('Profile')}" 
      class="nav-item grow text-center py-2 cursor-pointer" style="height: 100%;">
      <fa-icon 
        class="py-1 my-2 text-3xl" 
        [ngClass]="{'active-icon': isActive('Profile'), 'text-white': !isActive('Profile')}" 
        [icon]="faCircleUser">
      </fa-icon>
    </div>
    
  </div>
</div>
