@import "~remixicon/fonts/remixicon.css";
@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'sansita-one';
  src: url('./fonts/SansitaOne.ttf');
}

@font-face {
  font-family: 'merriweather';
  src: url('./fonts/Merriweather-Regular.ttf');
}

::backdrop {
    background-color: white;
}

#bottom-navbar {
    background-color: theme('colors.primarycolor.0'); 
}

.nav-item {
    background-color: theme('colors.primarycolor.0'); 
    color: white; 
    transition: background-color 0.1s, color 0.1s; 
}

.nav-item:hover {
    background-color: white; 
}

.nav-item:hover fa-icon {
    color: theme('colors.primarycolor.0'); 
}

.nav-item.active {
    background-color: white; 
}

.nav-item.active fa-icon {
    color: theme('colors.primarycolor.0'); 
}
