<div class="flex flex-col p-4 w-full bg-white min-h-screen max-w-screen">
  <header class="flex mt-6 items-center mb-5">
    <div class="flex items-center w-full rounded-lg border border-primarycolor-0 hover:ring-2 hover:ring-primarycolor-0">
      <fa-icon
        [icon]="faArrowLeft"
        class="text-xl text-gray-400 cursor-pointer p-2"
        (click)="goBack()"
      ></fa-icon>
      <input
        #searchInput
        class="flex-grow px-2 py-2 outline-none bg-transparent w-full"
        type="text"
        [(ngModel)]="searchQuery"
        placeholder="Search"
        (keyup.enter)="onSearch()"
      />
      <fa-icon
        [icon]="faTimesCircle"
        class="text-xl text-gray-400 cursor-pointer p-2"
        (click)="clearSearch()"
      ></fa-icon>
    </div>
  </header>

  <div class="mt-4 w-full" *ngIf="searchQuery">
    <div class="grid gap-4">
      <app-profile-info
        *ngFor="let business of businesses"
        [name]="business.name"
        [username]="business.username"
        [imageUrl]="business.imageUrl || 'assets/default-profile.png'">
      </app-profile-info>
    </div>
  </div>